body{
	color: white;
	font-family: Georgia, serif;	
	display: inline;
	text-align: left;
	
}

html{
	background-color: darkgray;
}

h1{
	text-align: center;
	font-size: 400%;
	
}




