body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', "arial";
}


/* center nav */

nav {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 10vh;
    position: relative;
    top: 50%;
    bottom: 50%;
    padding-top: 2%;
}

#links li {
    text-decoration: none;
    display: inline;
    font-size: 3em;
}

a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    padding: 5%;
}

a:hover {
    color: yellow;
}


#sprite {
    margin: 0;
    padding: 0;
    float: left;
    width: 47vw;
    height: 85vh;
    position: absolute;
}

#sprite img {
    position: relative;
    left: 25%;
    right: 50%;
    top: 20%;
}

img {
    width: 60%;
}

#table {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-right: 5%;
    float: right;
    width: 50vw;

}


.menu_item {
    padding: 3%;
    padding-right: 6%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    font-size: 2em;

}

.content {
    margin-top: 3%;
    padding: 3%;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    height: 500px;
    overflow-y: scroll;
}


p {
    font-size: 1.2em;
    line-height: 1.5;
}

strong {
    color: yellow;
}

/* use for positioning 
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
*/